**/target/**
**/.idea/**
.dcignore
**/data/**
**/*.iml

msgraph-training-java

**/*.json
**/.DS_Store

shells/_normal/nginx/nginx/
shells/_normal/nginx/software/pcre-8.43/
shells/_normal/nginx/software/openssl-1.1.1t/
shells/_normal/nginx/software/zlib-1.2.11/
shells/nginx/1.23/1_23_3/logs/
shells/_normal/nginx/software/nginx-1.22.0/

azure/**
azure/src


openssl/nginx_certificate/file

**/logs/**
/azure/
/azure/

aadConfiguration-cn.json

*/logs/*
/logs/